*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header-main{
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 665px;
}
.header-main{
    text-align: center;
   padding-top: 26px;

}
.header-title{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 58px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;   
    margin-top: 32px;
    word-spacing: 10px;
}
.header-description{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center; 
    word-spacing: 10px;   
    margin-top: 32px;
}    
.header-btn{
    background-color: black;
    color: white;
    margin-top: 32px; 
    width: 244px;
    height: 65px;
    border-radius: 5px;
}
/* .main section  */
#devlapment{
    background-color: #d5d9e71e;
    margin-top: 74px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 5px;
    height: 1400px;
}
.devlaper-main1{
    margin: 80px;
}
.title{
    text-align: center;
    padding-top: 80px;
}
.devlaper-title{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    word-spacing: 10px;
}
.devlaper-description{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    word-spacing: 10px;
    margin-top: 25px;
}
.card1{   
    margin-top: 46px;
    background-color: white;
    border-radius: 10px;
}
.card2{
    
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
.card-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;    
    word-spacing: 10px;
}
.card-dexption{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7; 
    word-spacing: 10px;
    margin-top: 20px;
}
.btn{     
    width: 171px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 20px 12px 20px;
    margin-top: 30px;
}
/* inspirastion section */
#Inspiration{
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 90px;
}
.title-inprason{
    text-align: center;
}
.title1{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;    
    word-spacing: 15px;
}
.title2{
    color: rgba(13, 19, 33, 1);
    opacity: 0.7;    
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    word-spacing: 15px;
    margin-top: 24px;
    margin-bottom: 80px;
}
.vidio-link{
    border-radius: 10px;
    width: 100%;
    height: 550px;
    margin-bottom: 151px;
}
/* carrent target section  */
#current-target{
    margin-left: 140px;
    margin-right: 140px;
}
.target-title{
    text-align: center;
    margin-bottom: 48px;
}
.target-card-main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
}
.html-card{
    background-color: #ff4b1e1b;
    padding: 40px;
    width: 364px;
    height: 299px;
    border-radius: 10px;
}
.css-card{
    background-color: #004de821;
    padding: 40px;
    width: 364px;
    height: 299px;
    border-radius: 10px;
}
.js-card{
    background-color: #ffdd001e;
    padding: 40px;
    width: 364px;
    height: 299px;
    border-radius: 10px;
}
.card{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 20px;
}
.card-description{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;    
    word-spacing: 10px;
    margin-bottom: 25px;
}
.card-button{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 500;    
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;    
}
/* my next terget section  */
.next-terget-card{
    display: flex;
    padding:40px;
    border-radius: 10px;
    gap: 30px;
    margin-bottom: 20px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
}
.next-header-title{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 34px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
}
.next-header-dexc{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 20px;
}
.next-header-button{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;    
}
/* contarackt section  */
#concrac-section{
    background-image: url('../assets/handshake.jpg');
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 80px;
    
}
.section-continer{
    padding: 48px 64px 48px 64px;
}
.input-main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.joy{
    padding: 20px;
    border-radius: 10px;
    border: none;
    width: 500px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;   
    word-spacing: 5px; 
}
.input-btn{
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 57px;
    color: rgba(13, 19, 33, 1);    
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
/* footer section  */
.footer-main{
   border-radius: 16px;
   background: rgba(13, 19, 33, 0.03);
   display: flex;
   justify-content: space-around;
   height: 100px;
   width: 100%;
   align-items: center;
}
.footer-title{
    color: rgba(13, 19, 33, 1);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;    
    word-spacing: 10px;
}
.footer-icon{
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}